<div>
    <div class="x-box-tl"><div class="x-box-tr"><div class="x-box-tc"></div></div></div>
    <div class="x-box-ml"><div class="x-box-mr"><div class="x-box-mc">
        <h3 style="margin-bottom:5px;">Укажите тип инсталяции и данные для доступа</h3>
        <div id="form-step3">
            <form action="" method="post" id="sinstall_form">
                <table>
                    <tr>
                        <td align="right">Логин администратора</td>
                        <td><input type="text" name="admin_login" value="[#admin_login#]" style="width:250px;" /></td>
                    </tr>
                    <tr>
                        <td align="right">Пароль администратора</td>
                        <td><input type="text" name="admin_pass" value="[#admin_pass#]" style="width:250px;" /></td>
                    </tr>
                    <tr>
                        <td align="right">Инсталлировать демо-сайт</td>
                        <td><input type="checkbox" name="etalon_install" [#etalon_install_checked#] /></td>
                    </tr>
                    <tr>
                        <td align="right">Все мои шаблоны в кодировке 1251</td>
                        <td><input type="checkbox" name="is1251templates" [#is1251templates_checked#] /></td>
                    </tr>

                </table>
            </form>
        </div>
    </div></div></div>
    <div class="x-box-bl"><div class="x-box-br"><div class="x-box-bc"></div></div></div>
</div>