<script type="text/javascript">

</script>
<div>
    <div class="x-box-tl"><div class="x-box-tr"><div class="x-box-tc"></div></div></div>
    <div class="x-box-ml"><div class="x-box-mr"><div class="x-box-mc">
        <h3 style="margin-bottom:5px;">Введите адрес Вашего сервера, логин и пароль для подключения к нему.</h3>
        <div id="form-step1">

            <form action="" method="post" id="sinstall_form">
                <table>
                    <tr>
                        <td align="right">Доменное имя (должно начинаться на http://)</td>
                        <td><input type="text" name="domen" value="[#value_domen#]" style="width:250px;" /></td>
                    </tr>
                    <tr>
                        <td align="right">Адрес FTP сервера</td>
                        <td><input type="text" name="hostadress" value="[#value_hostadress#]" style="width:250px;" /></td>
                    </tr>
                    <tr>
                        <td align="right">Логин FTP</td>
                        <td><input type="text" name="login" value="[#value_login#]" style="width:250px;" /></td>
                    </tr>
                    <tr>
                        <td align="right">Пароль FTP</td>
                        <td><input type="text" name="password" value="[#value_password#]" style="width:250px;" /></td>
                    </tr>
                    <tr>
                        <td align="right">Путь, куда проинсталировать CMS (папка)</td>
                        <td><input type="text" name="path" value="[#value_path#]" style="width:250px;" disabled /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div></div></div>
    <div class="x-box-bl"><div class="x-box-br"><div class="x-box-bc"></div></div></div>
</div>