/** new vals **/

.form fieldset legend{
    color:#15428B;
    font:bold 11px tahoma,arial,helvetica,sans-serif;
}
.x-form fieldset{
    border:1px solid #B5B8C8;
    margin-bottom:10px;
    padding:10px 10px 5px;

}
.x-form-item{
    display:block;
    font:12px tahoma,arial,helvetica,sans-serif;
    margin-bottom: 4px;
}

.x-form-clear-left{
    clear:left;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}

.x-box-mc{
    background-color: #EEEEEE;
    color:#393939;
    font-family:"Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;
    font-size:12px;
    padding:4px 10px;
}

/*верхние кнопки для модулей*/
.mod_top_button{
    display:inline;
    float:left;
    min-width:100px;
}

img,body,html{
    border: 0 none;
}


/* CSS редактируемый CSS */
.x-date-middle {
    padding-top:2px;padding-bottom:2px;
    width:130px;
}
.x-layout-collapsed-west{
    background-image:url('../images/leftmenu.gif');
    background-repeat:no-repeat;
    background-position:center;
}
.x-layout-collapsed-east{
    background-image:url('../images/help.gif');
    background-repeat:no-repeat;
    background-position:center;
}

html, body {
	font: normal 12px helvetica;
	margin: 0;
	padding:0;
	border:0;
}
/*настройка слоя для самого верха. Бардюры наследуются и к слою с выбором меню */

.santafox_main_logo_nort {
	background-image: url("../images/header.gif");
	background-repeat: repeat-x;
	color:#FFFFFF;
	font:bold 12px helvetica;
	overflow:hidden;
	padding:0px;
	border:0px none;
}

.div-help{
	color: #333333;
	font:12px helvetica;
	overflow:hidden;
	padding:10px;
	border: none;
    display:inline;
    float:right;
    width:15px;
    height:100%;
    background-image:url('/admin/templates/default/images/help.gif');
    background-repeat:no-repeat;
    background-position:center center;
}

/*Название сайта, который сейчас редактируется*/
.main-header {
	color:#FFFFFF;
	font:bold 18px helvetica;
}

a 		 {font-family: helvetica; font-size: 11px; color: #0066CC; padding-top:2px}
a:hover  {font-family: helvetica; font-size: 11px; color: #0066CC; text-decoration: none;}

/* Стили, используемые при авторизации пользователя*/
.zagol_start {font-family: Verdana;font-size: 18px;}
.zagol_start_red {font-family: Verdana;font-size: 18px;color:#F05800;}


/* Стили для основного меню */
.main_menu {font-family: helvetica; font-size: 13px; color: #0066CC; text-decoration: none}
.main_menu:hover {font-family: helvetica; font-size: 13px; color: #0066CC; text-decoration: underline}
.main_menu_select {font-family: helvetica; font-size: 13px; color: #F05800; text-decoration: none; font-weight:bold}
.main_menu_select:hover {font-family: helvetica; font-size: 13px; color: #F05800; text-decoration: none; font-weight:bold}

.main_menu_exit {font-family: helvetica; font-size: 13px; color: #000000; font-weight: bold; text-decoration: none}
.main_menu_exit:hover {font-family: helvetica; font-size: 13px; color: #F05800; font-weight: bold; text-decoration: none}

.left_menu {font-family: helvetica; font-size: 11px; color: #0066CC; text-decoration: none}
.left_menu:hover {font-family: helvetica; font-size: 11px; color: #0066CC; text-decoration: underline}
.left_menu_select {font-family: helvetica; font-size: 11px; color: #F05800; text-decoration: none; font-weight:bold}
.left_menu_select:hover {font-family: helvetica; font-size: 11px; color: #F05800; text-decoration: none; font-weight:bold}

/*Стили таблицы контента*/
.admin_table{} /* Стиль, применяемый для всей таблицы*/
.admin_table_border{border-top:1px solid #ffffff;border-left:1px solid #7ba0cd;}/*стиль границ таблицы контента*/
.admin_table_border td{border-right:1px solid #ffffff;border-bottom:1px solid #7ba0cd;}/*стиль границ таблицы контента*/
.admin_table td{ background-color:#eeeeee; padding:2px;} /* цвет строки по умолчанию*/
.admin_table_string{}/*стиль, применяемы для выделения строки*/
.admin_table .admin_table_string td{background-color:#e7e7e7; padding:2px;}/*цвет выделенной строки*/
.admin_table_wstring{}/*стиль, применяемы для белой строки*/
.admin_table .admin_table_wstring td{background-color:#FFFFFF;}/*цвет белой строки*/
.admin_table th      {
	background-color:#23427d;
	background-repeat:repeat-x;
	background-image:url(../images/header.gif);
	background-position:top;
	text-align:center;
	color:#ffffff;
	font-family: helvetica;
	font-size: 12px;
	vertical-align:middle;
	font-weight: bold;
	padding:6px;
}/*стиль заголовка таблицы*/
.admin_table thead td{background-color:#868686; text-align:center; color:#ffffff; font-family: helvetica; font-size: 12px; vertical-align:middle; font-weight: bold; padding:6px;}/*стиль заголовка таблицы*/
table.admin_table th a      {color:#FFFFFF;}
table.admin_table thead td a{color:#FFFFFF;}
table.admin_table th a:hover      {color:#FFFFFF;}
table.admin_table thead td a:hover{color:#FFFFFF;}
/*Конец стилей таблицы контента*/


/*Стили используемые в статичтике */
.stat_data_empty {font-family: helvetica; font-size: 16px; color: #000000; text-decoration: none; text-align:center; padding-top:20px;}

.select_text {color:#F05800;}

.table_action_select {
	background-color:#DFDFDF;
}

#preview-body{
	background:white;
}
/*
#main .x-layout-panel-center{
	border-bottom:1px solid #98c0f4;
}
*/
#status {
	font-size:8pt;
	background-image: url('../../resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	padding-top:3px;
	height:18px;
}
#status.done {
	background-image: url('../../resources/images/default/grid/loading.gif');
}


/* CSS Document */

body,tr,td {
	font-family: Verdana;
	font-size: 11px;
	}
/**  Изменение кусрора мыши над названиями чекбоксов */
label {cursor:hand;}

.zagol {
	font-family: Verdana;
	font-size: 12px;
}

.zagol_start {
	font-family: Verdana;
	font-size: 18px;
}
.zagol_start_red {
	font-family: Verdana;
	font-size: 18px;
	color:#F05800;
}

.other_link {font-family: Arial; font-size: 11px; color: #0066CC;}
.other_link:hover {font-family: Arial; font-size: 11px; color: #0066CC;text-decoration: none}
.other_link_select {font-family: Arial; font-size: 11px; color: #F05800; font-weight:bold}



/*Стиль текстовых действий, которые срабатывают по onClick*/
.onclick_link  	     {font-family: Arial; font-size: 12px; color: #0066CC; padding-top:2px; text-decoration: underline; cursor: hand;}
.onclick_link:link  	 {font-family: Arial; font-size: 12px; color: #0066CC; padding-top:2px; text-decoration: underline; cursor: hand;}
.onclick_link:hover 	 {font-family: Arial; font-size: 10px; color: #0066CC; padding-top:2px; text-decoration: none}


/** Ширна сворачиваемого или разворачиваемого меню */
.menu_win_table_small  {
	width:230px;
}
.menu_win_table_normal  {
	width:70%;
}

/* Заголовок меню */
.menu_win_label {
	vertical-align:middle;
	padding-left:10px;padding-right:5px;
	font-family: Verdana;
	font-size:12px;
	background-color:#F05800;
	font-weight:bold;
	color:#FFFFFF;
}

/*  Область контента */
.menu_win_body {
	vertical-align:middle;
	padding-bottom:3px;padding-left:3px;padding-right:3px;padding-top:3px;
	background-color:#FFF3EB;
	font-family: Verdana;
	font-size: 11px;
	color:#000000;
}
/* Зафиксирована длина, где выводится название свойства */
.menu_win_body #wight_menu_constant {
	vertical-align:middle;
	padding-bottom:3px;padding-left:3px;padding-right:3px;padding-top:3px;
	background-color:#FFF3EB;
	font-family: Verdana;
	font-size: 11px;
	color:#000000;
	width:200px;
}

.link_in_menu
{
	CURSOR: hand;
}

/*  Область, выделенная рамочкой */
fieldset {
	color:#000000;
}
legend {
	color:#000000;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
}


.caption_in_popertes
{
	font-family: Verdana;
	font-size: 10px
}
.text_form {font-family: Arial; font-size: 10px}

splink {cursor:hand;}