<!-- @main -->
<table class="admin_table">
  <tr>
    <th>[#backof_user_table_head1#]</th>
    <th>[#backof_user_table_head2#]</th>
    <th>[#backof_user_table_head3#]</th>
    <th>[#backof_user_table_head4#]</th>
    <th>[#backof_user_table_head5#]</th>
    <th>[#backof_user_table_head6#]</th>
    <th>[#backof_user_table_head7#]</th>
    <th>[#backof_user_table_head8#]</th>
  </tr>
  [#backof_user_table_lines#]
</table>

<!-- @string -->
<tr [#tr_class#]>
	<td>[#login#]</td>
	<td>[#full_name#]</td>
	<td>[#groups#]</td>
	<td>[#place#]</td>

	<td>[#time#]</td>
	<td>[#ip#]</td>
	<td>[#host#]</td>
	<td align="center"><input type="checkbox" [#root#] disabled="disabled"/></td>

</tr>