<!-- @main -->
<h2>[#admin_backup_details_header_name#] `%name%`</h2>
<table>
<tr>
<td colspan="3">
<form method="post" action="%form_action%" id="startbackupform">
<input type="hidden" name="ruleid" value="%ruleid%">
<table border="0" cellpadding="3" cellspacing="1" class="admin_table">
<tr>
	<th colspan="2">[#admin_save_components_legend#]</th>
</tr>
<tr>
 <td><input type="checkbox" id="needcontent" name="needcontent" value="1" %needcontent_checked%><label for="needcontent" class="text" style="cursor:HAND">&nbsp;[#admin_save_components_save_content#]</label></td>
 <td rowspan="4">[#admin_backup_backup_comment_label#]<br/><textarea name="description" cols="30" rows="7"></textarea></td>
</tr>
<tr>
<td><input type="checkbox" id="needsystem" name="needsystem" value="1" %needsystem_checked%><label for="needsystem" class="text" style="cursor:HAND">&nbsp;[#admin_save_components_save_system#]</label></td>
</tr>
<tr>
<td><input type="checkbox" id="needtables" name="needtables" value="1" %needtables_checked%><label for="needtables" class="text" style="cursor:HAND">&nbsp;[#admin_save_components_save_mysql#]</label></td>
</tr>
<tr>
<td><input type="checkbox" id="needdesign" name="needdesign" value="1" %needdesign_checked%><label for="needdesign" class="text" style="cursor:HAND">&nbsp;[#admin_save_components_save_design#]</label></td>
</tr>


<tr class="admin_table_wstring"><td colspan="2" align="right">

<input type="button" name="submit"
		 value="[#admin_save_components_start#]" onclick="jspub_form_submit('startbackupform','%form_action%')">

</td></tr>
</table>
</form>
</td>
</tr>
<tr>
<td width="33%" valign="top">
%ignored_tables%
<br/>
</td>
<td width="33%" valign="top">
%ignored_exts%
</td>
<td width="33%" valign="top">
%ignored_paths%
</td>
</tr>
</table>

<!-- @ignored_paths_table -->
<h2>[#admin_backup_ignored_paths_header#]</h2>
<table class="admin_table">
    <tr>
        <th>[#admin_backup_table_num#]</th>
        <th>[#admin_backup_ip_table_header#]</th>
        <th>[#admin_backup_ip_table_delete#]</th>
    </tr>
%lines%
</table>
<form action="%form_action_add%" method="POST">
<input type="hidden" name="ruleid" value="%ruleid%">
<h2>[#admin_backup_ip_add_action_label#]</h2>
<input type="text" name="path">
<input type="submit" value="[#admin_backup_ip_add_button_label#]">
</form>

<!-- @ignored_paths_table_row -->
<tr [#tr_class#]>
 <td align="center">%num_order%</td>
 <td align="center">%path%</td>
 <td><a href="#" onclick="jspub_confirm('backup&backup=delete_ignored_path&ruleid=%ruleid%&path=%path_escaped%', '[#admin_backup_ip_delete_confirm#]');">[#admin_backup_table_row_delete#]</a></td>
</tr>



<!-- @ignored_ext_table -->
<h2>[#admin_backup_ext_header#]</h2>
<table class="admin_table">
    <tr>
        <th>[#admin_backup_table_num#]</th>
        <th>[#admin_backup_ext_name#]</th>
        <th>[#admin_backup_it_delete#]</th>
    </tr>
%lines%
</table>
<form action="%form_action_add%" method="POST">
<input type="hidden" name="ruleid" value="%ruleid%">
<h2>[#admin_backup_ext_add_action_label#]</h2>
<input type="text" name="ext">
<input type="submit" value="[#admin_backup_ext_add_button_label#]">
</form>

<!-- @ignored_ext_table_row -->
<tr [#tr_class#]>
 <td align="center">%num_order%</td>
 <td align="center">%ext%</td>
 <td><a href="#" onclick="jspub_confirm('backup&backup=delete_ext&ruleid=%ruleid%&ext=%ext_escaped%', '[#admin_backup_ext_delete_confirm#]');">[#admin_backup_table_row_delete#]</a></td>
</tr>


<!-- @ignored_table -->
<h2>[#admin_backup_it_header#]</h2>
<table class="admin_table">
    <tr>
        <th>[#admin_backup_table_num#]</th>
        <th>[#admin_backup_it_tname#]</th>
        <th>[#admin_backup_it_delete#]</th>
    </tr>
%lines%
</table>
<form action="%form_action_add%" method="POST">
<input type="hidden" name="ruleid" value="%ruleid%">
<h2>[#admin_backup_it_add_action_label#]</h2>
<select name="tn[]" multiple="multiple" size="8">%select_options%</select>
<input type="submit" value="[#admin_backup_it_add_button_label#]">
</form>
<!-- @ignored_tables_add_option -->
<option value="%tablename%">%tablename%</option>

<!-- @ignored_table_row -->
<tr [#tr_class#]>
 <td align="center">%num_order%</td>
 <td align="left">%tablename%</td>
 <td><a href="#" onclick="jspub_confirm('backup&backup=delete_it&ruleid=%ruleid%&tn=%tablename%', '[#admin_backup_it_delete_confirm#]');">[#admin_backup_table_row_delete#]</a></td>
</tr>