<html>
<title>[#name_title#]</title>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/admin/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/components/html_editor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/components/html_editor/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">

$(function() {
var config =
           {
               skin : 'kama',
               extraPlugins : 'ajaxsave',
               autoUpdateElement:true,
               /*filebrowserBrowseUrl :'/components/html_editor/ckeditor/plugins/ajaxfilemanager/ajaxfilemanager.php',
               filebrowserImageBrowseUrl : '/components/html_editor/ckeditor/plugins/ajaxfilemanager/ajaxfilemanager.php',
               filebrowserFlashBrowseUrl :'/components/html_editor/ckeditor/plugins/ajaxfilemanager/ajaxfilemanager.php',*/
               LinkBrowserWindowHeight:440,
               ImageBrowserWindowHeight:440,
               FlashBrowserWindowHeight:440,
               LinkUpload:false,
               FullScreen: true,
               ImageUpload:false,
               FlashUpload:false,
               language:'ru',
               toolbar_Full: [
                ['Source','-','AjaxSave','Preview'],
                ['Cut','Copy','Paste','PasteText','PasteFromWord'],
                ['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat'],
                '/',
                ['Bold','Italic','Underline','Strike','-','Subscript','Superscript'],
                ['NumberedList','BulletedList','-','Outdent','Indent','Blockquote','CreateDiv'],
                ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                ['Link','Unlink','Anchor'],
                ['Image','Flash','Table','HorizontalRule','Smiley','SpecialChar','PageBreak'],
                '/',
                ['Styles','Format','Font','FontSize'],
                ['TextColor','BGColor'],
                ['Maximize', 'ShowBlocks']
            ],
            close_on_save:[#close_on_save#]
           };

   $('#[#name_edit#]').ckeditor(config);
});

</script>
</head>

<body>
<form method="post" action="/admin/?action=save_content">
<textarea id="[#name_edit#]" name="[#name_edit#]">[#edit_content#]</textarea>
<input type="hidden" value="[#file_name#]" name="file">
</form>
</body>
</html>