<html>
<title>[#name_title#]</title>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/admin/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/components/html_editor/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
    var config =
    {
        skin : 'moono',
        extraPlugins : 'ajaxsave',
        autoUpdateElement:true,
        fullscreen: true,
        filebrowserBrowseUrl : '/components/html_editor/ckeditor/plugins/kcfinder/browse.php?type=files',
        filebrowserImageBrowseUrl : '/components/html_editor/ckeditor/plugins/kcfinder/browse.php?type=images',
        filebrowserFlashBrowseUrl : '/components/html_editor/ckeditor/plugins/kcfinder/browse.php?type=files',
        filebrowserUploadUrl : '/components/html_editor/ckeditor/plugins/kcfinder/upload.php?type=files',
        filebrowserImageUploadUrl : '/components/html_editor/ckeditor/plugins/kcfinder/upload.php?type=images',
        filebrowserFlashUploadUrl : '/components/html_editor/ckeditor/plugins/kcfinder/upload.php?type=files',

        LinkBrowserWindowHeight:440,
        ImageBrowserWindowHeight:440,
        FlashBrowserWindowHeight:440,
        LinkUpload:false,
        ImageUpload:false,
        FlashUpload:false,
        language:'ru',
        on: { 'instanceReady': function (evt) { evt.editor.execCommand('maximize'); }},
        toolbar: [
            ['Source','Cut','Copy','Paste','PasteText','PasteFromWord'],
            ['Image','Flash','Table','HorizontalRule','SpecialChar','PageBreak'],
            ['NumberedList','BulletedList','-','Outdent','Indent','Blockquote','CreateDiv'],
            ['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat'],

            '/',
            ['Bold','Italic','Underline','Strike','-','Subscript','Superscript'],

            ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
            ['Link','Unlink','Anchor'],

            // '/',
            ['Styles','Format','Font','FontSize'],
            ['TextColor','BGColor'],
            ['Maximize', 'ShowBlocks']
        ],
        close_on_save:[#close_on_save#]
    };

    window.onload = function() {
        CKEDITOR.replace('[#name_edit#]', config);
    };
</script>
</head>

<body style="margin:0; width:100%; height:100%;">
<form method="post" action="/admin/?action=save_content">
<textarea id="[#name_edit#]" name="[#name_edit#]">[#edit_content#]</textarea>
<input type="hidden" value="[#file_name#]" name="file">
</form>
</body>
</html>