<!-- @body -->
<div style="padding-right:8px; padding-left:5px; padding-top:5px; width:550px;">
    <div class="x-box-tl"><div class="x-box-tr"><div class="x-box-tc"></div></div></div>
    <div class="x-box-ml"><div class="x-box-mr"><div class="x-box-mc">
        <div id="info">
        <fieldset >
			<legend id="ext-gen189">Информация о сервере</legend>
                <table border="0" cellpadding="6" cellspacing="10">
                  <tr>
                    <td width="230" align="right" valign="middle">Версия сервера:</td>
                    <td align="left" valign="middle">[#SERVER_SOFTWARE#]</td>
                  </tr>
                  <tr>
                    <td width="230" align="right" valign="middle">IP адрес сервера:</td>
                    <td align="left" valign="middle">[#SERVER_ADDR#]</td>
                  </tr>
                  <tr>
                    <td width="230" align="right" valign="middle">Ваш IP адрес:</td>
                    <td align="left" valign="middle">[#REMOTE_ADDR#]</td>
                  </tr>
                </table>
        </fieldset>
        <br>
        <fieldset >
			<legend id="ext-gen189">Особенности работы</legend>
                <table border="0" cellpadding="6" cellspacing="10">
                  <tr>
                    <td width="230" align="right" valign="middle">Изменения всех прав скриптом </td>
                    <td align="left" valign="middle">[#SERVER_CAN_CHMOD_SCRIPT#]</td>
                  </tr>
                  <tr>
                    <td width="230" align="right" valign="middle">Доступ к файлам по FTP</td>
                    <td align="left" valign="middle">[#SERVER_CAN_FTP_CONNECT#]</td>
                  </tr>
                  <tr>
                    <td width="230" align="right" valign="middle">Ваш IP адрес:</td>
                    <td align="left" valign="middle">[#REMOTE_ADDR#]</td>
                  </tr>
                </table>
        </fieldset>
        <br>
		<fieldset>
        <legend class="text">Версия CMS</legend>
        <table border="0" cellpadding="6" cellspacing="10">
          <tr>
            <td width="230" align="right" valign="middle">Ядро</td>
            <td align="left" valign="middle">[#version_kernel#]</td>
          </tr>
          <tr>
            <td width="230" align="right" valign="middle">Наличие обновлений:</td>
            <td align="left" valign="middle">[#new_version_info#]</td>
          </tr>
<!--          <tr>
            <td width="230" align="right" valign="middle">Административный интерфейс</td>
            <td align="left" valign="middle">[#version_gui#]</td>
          </tr>
          <tr>
            <td width="230" align="right" valign="middle">Версия редактора</td>
            <td align="left" valign="middle">[#version_content_editor#]</td>
          </tr>-->
        </table>
        </fieldset>
        </div>
    </div></div></div>
    <div class="x-box-bl"><div class="x-box-br"><div class="x-box-bc"></div></div></div>
</div>