<!-- @module_row -->
<option value="%key%">%label%</option>

<!-- @body -->
<script>
$("#new_module_install").click(function () {
    var postArr = {modul_install: $("#select_modul").val()};
    $.post('%url_action%', postArr,  function(data){
       start_interface.main_menu_click('main_menu_modules', 'modules');
    });

});

</script>
%writeable%
<div id="structure_all_form">
    	<div><h3>[#modules_install_base_header#]</h3></div>
        <div id="form_new_modules">
            <form action="%url_action%" method="post">
            [#modules_install_spisok_dostupnih#]: <select name="modul_install" id="select_modul">
                %modules_rows%
            </select><br>
            <input type="button" id="new_module_install" value="[#modules_link_new_base_module#]">
            </form>
        </div>
</div>
