<!-- @begin -->
<div style="width:400px;">
  <div class="x-box-tl">
    <div class="x-box-tr">
      <div class="x-box-tc"></div>
    </div>
  </div>
  <div class="x-box-ml">
    <div class="x-box-mr">
      <div class="x-box-mc">
        <h3 style="margin-bottom:5px;" align="center">%name_otchet%</h3>
        <div id="form_stat">

            <form id="admin_stat_form">
                С <!-- //@todo use lang vars -->
                <input type="text" name="date_start" id="date_start" value="[#date_start_value#]" style="width:100px;">
                <script type="text/javascript">
                    $( "#date_start" ).datepicker({
                            dateFormat:'dd-mm-yy'
                    });
                </script>
                <br>
                По <!-- //@todo use lang vars -->
                <input type="text" name="date_end" id="date_end" value="[#date_end_value#]" style="width:100px;">
                <script type="text/javascript">
                    $( "#date_end" ).datepicker({
                            dateFormat:'dd-mm-yy'
                    });
                </script>
                <br>
                [#select_diapazon#]
                [#select_partners#]
                [#dop_fields#]
                <p align="center"><input type="button" value="[#statist_all_button_show#]" onclick="admin_form_submit('%link_form%','stat_result','admin_stat_form');"></p>
            </form>
		</div>
      </div>
    </div>
  </div>
  <div class="x-box-bl">
    <div class="x-box-br">
      <div class="x-box-bc"></div>
    </div>
  </div>
</div>
<div id="stat_result" style="padding-top:10px;"></div>

<!-- @diapazon_block -->
   [#statist_all_label_date#]
    <select name="pre_date" id="stat_pre_date">
        <option value="">[#statist_all_label_date_default#]</option>
        [#diapazon_list#]
    </select>
    <script type="text/javascript">
    $('#stat_pre_date').change(function(){
        var sval = $(this).val();
        if (sval=="")
        {
            $('#date_start').val('');
            $('#date_end').val('');
        }
        else
        {
            var dates = sval.split(",");
            $('#date_start').val(dates[0]);
            $('#date_end').val(dates[1]);
        }
    });
    </script>
    <br>
<!-- @diapazon_line -->
<option value="%key%">%val%</option>

<!-- @set_partner_line -->
<option value="%key%">%val%</option>
<!-- @set_partner -->
   [#statist_all_label_partnets#]
    <select name="partners">
        <option value="">[#statist_all_label_partnets_default#]</option>
        [#partner_list#]
    </select>
    <br>


<!-- @begin_result -->
<div style="padding-top: 10px;">
<TABLE width="100%" height="4" heborder="0" cellspacing="0" cellpadding="0" class="admin_table">
  <TR>
    <TH></TH>
  </TR>
</TABLE>
<TABLE width="300" height="20" class="admin_table">
  <TR>
    <TH align="left"><img src='/admin/templates/default/images/statist_ico.gif' width='14' height='14'>&nbsp;&nbsp;&nbsp;[#statist_all_label_result#]</TH>
  </TR>
</TABLE>
</div>

<!-- @host -->
<input type="checkbox" name="f_people" [#checked_f_people#]>[#statist_host_show_only_people#]<br>


<!-- @word -->
<input type="checkbox" name="show_diagram" [#checked_diagram#]>[#statist_words_show_images#]<br>

